{% load static %}

<!doctype html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles -->
    <link rel="stylesheet" href="../assets/css/style.css">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">

    <title>Sistema SGO - Optica Cruz</title>
</head>

<body>
 
    <div class="d-flex" id="content-wrapper">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary">
            
              <div class="logo">
                <a href="index.html">
                  <img src="../assets/img/logoBlanco1.png" alt="Descripción de la imagen" style="width: 230px; height: auto;">
                </a>
              </div>
                <div class="menu">
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i>
                          Clientes</a>
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-hammer lead mr-2"></i>
                          Ordenes de trabajo</a>
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-clipboard lead mr-2"></i>
                          Recetas</a>
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-calculator lead mr-2"></i>
                          Cotizaciones</a>
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-wallet lead mr-2"></i>
                          Abonos</a>
                      <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-ribbon lead mr-2"></i> 
                          Certificados</a>
                      <a href="#" class="d-block text-light p-3 border-0"> <i class="icon ion-md-settings lead mr-2"></i>
                          Configuración</a>
                </div>
        </div>
    </div>
        <!-- Fin sidebar -->

    {% block content%}     
    {% endblock %}

    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
            
</body>

</html>