{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% block title %}Optica Cruz{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Styles  -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/styles.css' %}">

    <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Muli:300,700&display=swap" rel="stylesheet">

    <!-- Ionic icons -->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    
</head>

<body>

    <div class="d-flex" id="content-wrapper" style="min-height: 100vh;">

        <!-- Sidebar -->
        <div id="sidebar-container" class="bg-primary" style="min-height: 100vh;">
            <div class="logo">
                <a href="{% url 'cliente_list' %}">
                    <img src="{% static '/images/Optica_Cruz_Blanco.png' %}" alt="Descripción de la imagen"
                        style="width: 180px; height: auto;">
                </a>
            </div>
            <div class="menu">
                <a href="{% url 'usuario_list' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-person lead mr-2"></i> Panel Usuarios</a>
                <a href="{% url 'cliente_list' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-people lead mr-2"></i> Clientes</a>
                <a href="{% url 'receta_list' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-clipboard lead mr-2"></i> Recetas</a>
                <a href="{% url 'ordenTrabajo_list' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-hammer lead mr-2"></i> Órdenes de trabajo</a>
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-cash lead mr-2"></i> Abonos</a>
                <a href="#" class="d-block text-light p-3 border-0"><i class="icon ion-md-document lead mr-2"></i> Certificados</a>
                <a href="{% url 'logout' %}" class="d-block text-light p-3 border-0"><i class="icon ion-md-log-out lead mr-2"></i> Cerrar sesión</a>
            </div>
        </div>
        <!-- Fin sidebar -->

        <!-- Main Content -->
        <div id="content" class="w-100">
            {% block content %}{% endblock %}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.amazonaws.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy9VScMQe5z5t5p5pVVd5K5e5p5t5p5p5p5p5"
        crossorigin="anonymous"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>