{% extends 'optica/base_login.html' %}
{% load static %}

{% block content %}
<div class="container mt-5 d-flex justify-content-center">
    <div class="card shadow-sm p-4" style="max-width: 400px; width: 100%;">
        <!-- Título -->
        <h1 class="text-center mb-4 font-weight-bold">Contraseña Restablecida</h1>
        
        <!-- Mensaje -->
        <p class="text-center mb-4 text-dark" style="font-weight: normal;">Tu contraseña ha sido restablecida exitosamente. Ahora puedes iniciar sesión con tu nueva contraseña.</p>
        
        <!-- Botón para Iniciar Sesión -->
        <div class="text-center">
            <a href="{% url 'login' %}" class="btn btn-primary">Iniciar Sesión</a>
        </div>
    </div>
</div>
{% endblock content %}
