{% extends 'optica/base.html' %}
{% load static crispy_forms_tags %}

{% block content%}

<!-- Page Content -->
<div id="content" class="bg-grey w-100">

    <section class="bg-light py-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <h1 class="font-weight-bold mb-0">Eliminar Usuario</h1>
                    <!-- <p class="lead text-muted">Revisa la última información</p> -->
                </div>
            </div>
        </div>
    </section>

    <div class="alert alert-danger mt-5 mx-auto" style="max-width: 450px;">
        <div class="text-center">
            <span class="fw-bold">
                ¿Desea eliminar el siguiente usuario?
            </span>
        </div>
        <br>
        <ul class="text-start" style="list-style-type: disc; padding-left: 20px;">
            <li><strong>Tipo de usuario:</strong> {{ object.get_user_type_display }}</li>
            <li><strong>Nombre de usuario:</strong> {{ object.username }}</li>
            <li><strong>Nombre:</strong> {{ object.first_name }}</li>
            <li><strong>Apellido paterno:</strong> {{ object.ap_paterno }}</li>
            <li><strong>Email:</strong> {{ object.email }}</li>
        </ul>
        <form method="post" class="mt-3 text-center">
            {% csrf_token %}
            <a href="{% url 'usuario_list' %}" class="btn btn-secondary me-1">Cancelar</a>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>

    <script>
        // Ocultar el mensaje de confirmación después de 2 segundos
        setTimeout(function () {
            var mensaje = document.getElementById('mensajeConfirmacion');
            if (mensaje) {
                var alert = new bootstrap.Alert(mensaje);
                alert.close();
            }
        }, 2000);
    </script>

</div>

{% endblock content %}