:root {
    --primary: #007bff;
    --light: #f8f9fa;
    --grey: #6c757d;
}

body {
    font-family: 'Muli', sans-serif;
}

a:hover {
    text-decoration: none;
}

.bg-primary { background-color: var(--primary) !important; }

.bg-light { background-color: var(--light) !important; }

.bg-grey { background-color: var(--grey) !important; }

.bg-mix { background: linear-gradient(180deg, var(--light) 100%, var(--grey) 0); }

.btn-primary {
    background-color: var(--primary);
    border: 0;
}

.btn-primary:hover {
    background-color: var(--primary);
}

#sidebar-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#sidebar-container .logo {
    padding: 3rem 1rem;
}

#content-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

